header, main, footer {
    min-width: 1536px;
}

header .container, main .container, footer .container {
    max-width: 1236px;
    margin: auto;
    padding: 0 150px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    background: white;
    overflow: auto;
    margin-top: 15px;
    padding-bottom: 170px;
    flex-grow: 2;
}

header {
    margin-top: 10px;
    background: white;
    overflow: auto;
}

footer {
    background: #faf3c3;
    overflow: auto;
    padding: 20px 0;
    height: 170px;
}

header h1 {
    float: left;
    width: 800px;
}

.float-left , .contact{
    float: left;
    width: 824px;
}

header nav {
    padding-top: 15px;
    float: right;
}

.float-right, .sitemap {
    float: right;
}

p , a, li, select{
    font-family: 'Roboto', sans-serif;
}

strong{
    font-weight: bolder;
}

h1, h2, h3, h4, h5 {
    font-family: 'Jost', sans-serif;
    margin: 7px 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.13em;
}

hr {
    margin: 10px 149px;
    background: white;
    width: 1236px;
}

ul.with-disks{
    list-style-type: disc;
    list-style-position: inside;
}


li {
    padding: 5px 0;
}

.sitemap {
    direction: rtl;
}

a{
    color: #f55151;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


li.faq {
    margin: 20px 0;
    padding: 5px 0;
}

li.faq p{
    margin: 10px 0;
}


.left-sitemap{
    float: left;
    margin-right: 10px;
    direction: ltr;
}

.right-sitemap{
    float: right;
    margin-left: 10px;
}

.sitemap h5{
    text-align: center;
}