.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #a8a8a7;
}

div.content{
    background: #a8a8a7;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 1em;
}

li.place{
    background: white;
    margin-top: 10px;
    border-radius: 0.25em;
    padding-left: 1em;
    cursor: pointer;
}

li.place:hover{
    background: #ddd;
}

li.place-in-tag{
    background: white;
    margin-top: 10px;
    border-radius: 0.25em;
    padding-left: 1em;
}

btn-add{
    border-radius: 0.25em;
    background: #dddddd;
    cursor: pointer;
}

input{
    border-radius: 0.25em;
}

.place-input{
    margin-bottom: 1em;
}