div.slide{
    display: flex;
    justify-content: center;
}

img {
    width: 800px;
    border-radius: 0.5em;
}

div.tag {
    width: 1236px;
    margin: 0 150px 30px 150px;
}

select {
    width: 100%;
    padding: 0.25em;
    border-radius : 0.5em;
}